{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}

	{# Entete title #}
	<div class="container-fluid entete text-primary d-flex justify-content-center h-33">

		<div class="container bg-secondary title">
			<h1 class="text-center">Contact</h1>
		</div>
	</div>


	{# Formulaire de contact  #}

	<div class="container-fluid contact">
		<div class="mb-5">
			<label for="ControlInput1" class="form-label">Votre adresse mail</label>
			<input type="email" class="form-control" id="ControlInput1" placeholder="nom@example.fr">
		</div>
		<div class="mb-5">
			<label for="ControlTextarea1" class="form-label">Votre message</label>
			<textarea class="form-control" id="ControlTextarea1" rows="10"></textarea>
		</div>
		<div class="col-12">
			<input id="btn-1" class="btn btn-secondary text-primary" type="button">Envoyer</input>
	</div>
</div>{% endblock %}
